* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

p, li {
  line-height: 2rem;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 200px;
  background: url("../img/header_001.jpg") no-repeat center top;
  background-size: cover;
}

.header .title, .header .sub_title {
  width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.header .sub_title {
  padding-top: 0;
  font-size: 1.2rem;
}

.g_navi {
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.g_navi ul {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.g_navi ul li {
  width: 150px;
  height: 60px;
  float: left;
  text-align: center;
}

.g_navi ul li a {
  display: block;
  line-height: 60px;
}

.g_navi ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.contents {
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.contents .main_area {
  box-sizing: border-box;
  width: 684px;
  padding: 20px;
  float: left;
}

.contents .side_area {
  width: 260px;
  padding: 20px;
  float: right;
}

.contents .side_area .search_area, .contents .side_area .category_area {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.contents .side_area .search_area {
  margin-bottom: 20px;
}

.contents .side_area .category_area .category_list li {
  position: relative;
  padding-right: 20px;
  border-bottom: 1px solid #eee;
}

.contents .side_area .category_area .category_list li::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  transform: rotate(45deg);
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  content: "";
}

.contents .side_area .category_area .category_list li:last-child {
  border-bottom: 0;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#top .main_area section {
  margin-bottom: 30px;
  overflow: hidden;
}

#top .main_area section::after {
  display: block;
  clear: both;
  content: "";
}

#top .main_area section h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#top .main_area section p {
  margin-bottom: 20px;
}

#top .main_area section .thumb_img {
  margin: 0 20px 20px 0;
  float: left;
}

#top .main_area section .left_thumb_para {
  margin-left: 170px;
}

#top .main_area section .read_more {
  position: relative;
  padding: 5px 10px;
  padding-right: 20px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f2f2f2;
  text-align: right;
}

#top .main_area section .read_more::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  transform: rotate(45deg);
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  content: "";
}

.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .contents {
    width: 100%;
  }
  .contents .main_area {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .contents .main_area {
    width: 100%;
    float: none;
  }
  .contents .side_area {
    width: 100%;
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
