* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

p, li {
    list-style: none;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    height: 200px;
    width: 100%;
}

.g_navi {
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    ul {
        width: 600px;
        margin: 0 auto;
        overflow: hidden;

        li {
            width: 150px;
            height: 60px;
            float: left;
            text-align: center;

            a {
                display: block;
                line-height: 60px;
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
        }
    }
}

.contents {
    height: 1024px;
    width: 100%;
}

.footer {
    padding: 20px;
    width: 100%;
    text-align: center;
}