$GnaviHeight: 60px;
$GnaviButtonWidth: 150px;
$ContentsWidth: 1024px;
$SideAreaWidth: 300px;
$AreaPadding: 20px;

$width: (
    contents: 1024px,
    sideArea: 300px
);

$path : (
    img: "../img/"
);